<h1 class="titulo pt-5">New Tweet</h1>

<%= render 'form', tweeter: @tweeter %>

<%= link_to 'Back', tweeters_path, :class=> "link text-success" %> |
<%= link_to 'Home', root_path, :class=> " link text-success" %>

